@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --main-bg: #f6f7f9;
  --text-dark-gray: #596780;
  --text-darker-gray: #1a202c;
  --border-primary-gray: #c3d4e9;
}

body {
  color: var(--text-dark-gray);
  background: var(--main-bg);
}
